*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#0D0D0D;
font-family:'Montserrat',sans-serif;
color:#F3F0E2;
}

h1,h2,h3{
font-family:'White On Black';
letter-spacing:2px;
}

header{
background:#940F00;
padding:35px;
text-align:center;
}

header h1{
font-size:55px;
}

header p{
margin-top:10px;
font-size:18px;
}

nav{
background:#2F2F2F;
padding:15px;
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

nav a{
color:#F3F0E2;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

nav a:hover{
color:#E35D95;
}

.banner{
height:90px;
background:url(file:///C:/Users/Arell/Documents/EARF/multimedia%20EARF/banner.jpg);
display:flex;
justify-content:center;
align-items:center;
font-size:28px;
font-weight:bold;
}

.container{
display:grid;
grid-template-columns:220px 1fr 220px;
gap:20px;
padding:20px;
}

.ads{
display:flex;
flex-direction:column;
gap:20px;
}

.ad1{
background:url(file:///C:/Users/Arell/Documents/EARF/multimedia%20EARF/wawas-ads.jpg);
color:#2F2F2F;
width:240px; 
height:250px;

justify-content:center;
align-items:center;

}

.ad2{
background:url(file:///C:/Users/Arell/Documents/EARF/multimedia%20EARF/caifanes-ad.jpg);
color:#2F2F2F;
width:240px; 
height:250px;

justify-content:center;
align-items:center;

}

main{
background:#2F2F2F;
padding:25px;
border-radius:15px;
}

.hero{

height:350px;
background:url(file:///C:/Users/Arell/Documents/EARF/multimedia%20EARF/key-visual.jpg) center;
background-size:cover;
border-radius:15px;

display:flex;
justify-content:center;
align-items:center;




}

section{
margin-top:40px;
}

.cards{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;

}

.card{

background:#940F00;
padding:20px;
border-radius:15px;
transition:.4s;

}

.card:hover{

background:#E35D95;
transform:translateY(-8px);

}

button{

margin-top:20px;
background:#E35D95;
border:none;
padding:15px 30px;
font-size:18px;
font-weight:bold;
border-radius:8px;
cursor:pointer;
transition:.3s;

}

button:hover{

background:#940F00;
color:white;

}

.publicidad-inferior{

height:100px;
background: url(file:///C:/Users/Arell/Documents/EARF/multimedia%20EARF/patrocinadores.jpg);
color:#2F2F2F;
justify-content:center;
align-items:center;

font-size:28px;
font-weight:bold;



}

footer{

background:#940F00;
padding:25px;
text-align:center;

}

@media(max-width:900px){

.container{

grid-template-columns:1fr;

}

.ads{

flex-direction:row;
overflow:auto;

}

.ad{

min-width:250px;

}

.hero{

font-size:35px;

}

}
